<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Tipo Identificación</th>
            <th scope="col">Número Identificación</th>
            <th scope="col">Nombre</th>
            <th scope="col">Dirección</th>
            <th scope="col">Ciudad</th>
            <th scope="col">Departamento</th>
            <th scope="col">País</th>
            <th scope="col">Teléfono</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let usuario of usuariosMostrar">
            <td>{{ usuario.idUsuario }}</td>
            <td>{{ usuario.tipoIdentificacion }}</td>
            <td>{{ usuario.numeroIdentificacion }}</td>
            <td>{{ usuario.nombre }}</td>
            <td>{{ usuario.direccion }}</td>
            <td>{{ usuario.ciudad }}</td>
            <td>{{ usuario.departamento }}</td>
            <td>{{ usuario.pais }}</td>
            <td>{{ usuario.telefono }}</td>
        </tr>
    </tbody>
</table>