<div class="container bg-dark text-white mt-3">
    <h1>DTS APP</h1>
</div>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a routerLink="empresas" routerLinkActive="active" class="nav-link active" aria-current="page" href="#">Inicio</a>
                    <a routerLink="empresas" routerLinkActive="active" class="nav-link" href="#">Empresas</a>
                    <a routerLink="vehiculos" routerLinkActive="active" class="nav-link" href="#">Vehículos</a>
                    <a routerLink="usuarios" routerLinkActive="active" class="nav-link" href="#">Usuarios</a>
                </div>
            </div>
        </div>
    </nav>
</div>
<hr>
<router-outlet></router-outlet>