<div class="container">
    <h2 class="alert alert-primary">Empresas</h2><small><b>Registro de empresas.</b></small>
    <div class="row">
        <div class="col-md-3">
            <!-- Formulario Empresas -->
            <form autocomplete="off" (ngSubmit)="agregarEmpresa(formularioEmpresa)" [formGroup]="formularioEmpresa">

                <div class="form-group">
                    <label for="tipoIdentificacion">
                        <small>Tipo Identificación Empresa</small>
                        </label>
                    <!-- <input type="text" class="form-control" id="tipoIdentificacion" formControlName="tipoIdentificacion" /> -->
                    <select class="form-control" id="tipoIdentificacion" formControlName="tipoIdentificacion" form="formularioEmpresa">
                        <option value="NIT">NIT</option>
                        <option value="RUT">RUT</option>
                        <option value="OTRO">OTRO</option>
                      </select>
                </div>

                <div class="form-group">
                    <label for="numeroIdentificacion">
                            <small>Número Identificación Empresa</small>
                        </label>
                    <input type="text" class="form-control" id="numeroIdentificacion" formControlName="numeroIdentificacion" />
                </div>

                <div class="form-group">
                    <label for="nombre">
                        <small>Nombre Empresa</small>
                        </label>
                    <input type="text" class="form-control" id="nombre" formControlName="nombre" />
                </div>

                <div class="form-group">
                    <label for="direccion">
                        <small>Dirección</small>
                        </label>
                    <input type="text" class="form-control" id="direccion" formControlName="direccion" />
                </div>

                <div class="form-group">
                    <label for="ciudad">
                        <small>Ciudad</small>
                        </label>
                    <input type="text" class="form-control" id="ciudad" formControlName="ciudad" />
                </div>

                <div class="form-group">
                    <label for="departamento">
                        <small>Departamento</small>
                        </label>
                    <input type="text" class="form-control" id="departamento" formControlName="departamento" />
                </div>

                <div class="form-group">
                    <label for="pais">
                        <small>País</small>
                        </label>
                    <input type="text" class="form-control" id="pais" formControlName="pais" />
                </div>
                <div class="form-group">
                    <label for="telefono">
                        <small>Teléfono</small>
                        </label>
                    <input type="text" class="form-control" id="telefono" formControlName="telefono" />
                </div>
                <br>
                <button type="submit" class="btn btn-primary" [disabled]="formularioEmpresa.invalid">
                        Guardar
                    </button>
            </form>
            <!-- Fin formulario empresas -->
        </div>
        <!-- Tabla empresas -->
        <div class="col-md-9">
            <app-empresas-listado></app-empresas-listado>
        </div>
        <!-- Fin Tabla empresas -->
    </div>
</div>