<div class="container">
    <h2 class="alert alert-primary">Vehículos</h2><small><b>Registro de vehículos.</b></small>
    <div class="row">
        <div class="col-md-3">
            <!-- Formulario Vehiculos -->
            <form autocomplete="off" (ngSubmit)="guardarVehiculo(formularioVehiculo)" [formGroup]="formularioVehiculo">

                <div class="form-group">
                    <label for="placa">
                            <small>Placa Vehiculo</small>
                        </label>
                    <input type="text" class="form-control" id="placa" formControlName="placa" />
                </div>

                <div class="form-group">
                    <label for="motor">
                        <small>Motor</small>
                        </label>
                    <input type="text" class="form-control" id="motor" formControlName="motor" />
                </div>

                <div class="form-group">
                    <label for="chasis">
                        <small>Chasis</small>
                        </label>
                    <input type="text" class="form-control" id="chasis" formControlName="chasis" />
                </div>

                <div class="form-group">
                    <label for="modelo">
                        <small>Modelo</small>
                        </label>
                    <input type="text" class="form-control" id="modelo" formControlName="modelo" />
                </div>

                <div class="form-group">
                    <label for="fechaMatricula">
                        <small>Fecha Matrícula</small>
                        </label>
                    <input type="date" class="form-control" id="fechaMatricula" formControlName="fechaMatricula" />
                </div>

                <div class="form-group">
                    <label for="pasajerosSentados">
                        <small>Pasajeros Sentados</small>
                        </label>
                    <input type="text" class="form-control" id="pasajerosSentados" formControlName="pasajerosSentados" />
                </div>
                <div class="form-group">
                    <label for="pasajerosPie">
                        <small>Pasajeros de pie</small>
                        </label>
                    <input type="text" class="form-control" id="pasajerosPie" formControlName="pasajerosPie" />
                </div>
                <div class="form-group">
                    <label for="pesoSeco">
                        <small>Peso seco</small>
                        </label>
                    <input type="text" class="form-control" id="pesoSeco" formControlName="pesoSeco" />
                </div>
                <div class="form-group">
                    <label for="pesoBruto">
                        <small>Peso bruto</small>
                        </label>
                    <input type="text" class="form-control" id="pesoBruto" formControlName="pesoBruto" />
                </div>
                <div class="form-group">
                    <label for="cantidadPuertas">
                        <small>Cantidad puertas</small>
                        </label>
                    <input type="number" class="form-control" id="cantidadPuertas" formControlName="cantidadPuertas" />
                </div>
                <div class="form-group">
                    <label for="marca">
                        <small>Marca</small>
                        </label>
                    <input type="text" class="form-control" id="marca" formControlName="marca" />
                </div>
                <div class="form-group">
                    <label for="linea">
                        <small>Línea</small>
                        </label>
                    <input type="text" class="form-control" id="linea" formControlName="linea" />
                </div>
                <div class="form-group">
                    <label for="idEmpresa">
                        <small>ID Empresa</small>
                        </label>
                    <input type="number" class="form-control" id="idEmpresa" formControlName="idEmpresa" />
                </div>
                <br>
                <button type="submit" class="btn btn-primary" [disabled]="formularioVehiculo.invalid">
                        Guardar
                    </button>
            </form>
            <!-- Fin formulario vehiculos -->
        </div>
        <!-- Tabla vehiculos -->
        <div class="col-md-9">
            <app-vehiculos-listado></app-vehiculos-listado>
        </div>
        <!-- Fin Tabla vehiculos -->
    </div>
</div>